@inherits LayoutComponentBase

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <TopMenu />
        </div>

        @Body

        @* <div class="content px-4"> *@
            @* <NavMenu /> *@
            @* @Body *@
        @* </div> *@
    </main>
</div>
