@page "/"

<style>
    .img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
</style>


<table>
    <tr>
        <td>
            @* <image class="img" src="/Resources/Images/image1.jpeg"></image>
            <image class="img" src="/Resources/Images/image2.jpeg"></image>
            <image class="img" src="/Resources/Images/image3.jpeg"></image> *@
        </td>
        <td>
            <a href="login">Login</a>
            <br />
            <a href="register">Register</a>
        </td>
    </tr>
</table>




@* @code{

    private void NavigateToLoginPage()
    {
        
    }

    private void NavigateToRegisterPage()
    {
        
    }
} *@
