@page "/profile"
@using Keepi.Shared
@inject IJSRuntime JS



<div>
    <Profile user="@user"/>
</div>


@code {

    User user;

    protected override async Task OnInitializedAsync()
    {
        user = await JS.InvokeAsync<User>("localStorageHelper.get", "user");
    }

}
